<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GRN</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="main-container">
      <header class="header-container">
        <div class="img-container">
          <img src="/images/acomm_logo.png" alt="acomm_logo" />
        </div>
        <div class="grn-text">
            <span class="top-padding">GRN No.: 346573</span>
        </div>
      </header>
      <section class="infos-container">
        <div class="company-container">
          <h4>Acommerce Co.,Ltd.</h4>
          <p>PH Outsource aSpace Manila 110 Legazpi Street Legazpi</p>
          <p>Village Makati City Manila Philippines</p>
          <h3>Good Receiving Noted</h3>
          <p>Vendor Name: SSI_158db Stores Specialist Inc.</p>
        </div>
        <div class="client-container">
          <table class="client-table">
            <tr>
              <td>CLIENT NAME: SSI_158 Stores Specialist Inc.</td>
            </tr>
            <tr>
              <td>DATE : 14/7/2016</td>
            </tr>
            <tr>
              <td>P.O.NO : SDPPO‐158033</td>
            </tr>
            <tr>
              <td>D.O.NO :</td>
            </tr>
            <tr>
              <td>P.O. STATUS : Pending Billing/Partially Received</td>
            </tr>
          </table>
        </div>
      </section>
      <section class="po-container">
        <table>
          <tr>
            <th>No.</th>
            <th>External ID</th>
            <th>Product Title</th>
            <th>PO Qty</th>
            <th>PO Received</th>
            <th>Balance</th>
            <th>Remark</th>
          </tr>
          <tr>
            <td>1</td>
            <td>SSI‐3274761</td>
            <td class="left-align">2095 Cotu</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>SSI‐3420029 </td>
            <td class="left-align">2750 Cotw Fabric</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td></td>
          </tr>
          <tr class="blank-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </section>
      <footer class="footer-container">
        <div class="remark-container">
          <table>
            <td>REMARK :</td>
            <td class="remark-bottom-border"></td>
          </table>
        </div>
        <div class="sign-container">
          <table class="sign-table-container">
            <tr>
              <th>RECEIVED BY WAREHOUSE</th>
              <th>DELIVERED BY</th>
            </tr>
            <tr class="bottom-border">
              <td><hr/></td>
              <td><hr/></td>
            </tr>
            <tr>
              <td>NAME/SIGN/DATE</td>
              <td>NAME/SIGN/DATE</td>
            </tr>
          </table>
        </div>
      </footer>
    </div>
  </body>
</html>
