{% include "header.html" %}
<div class="container-fluid" style="padding: 0px">
	<div class="row screenFiller backgroundImage" id="div1">
		<div class="col-md-12">
      <img alt="Vestinit_logo" src="/images/vestinit-logo.jpg" class="img-responsive center-block"/>
			<h3 class="text-center" id="section1-firsttext">
				CHANGING THE WORLD
			</h3>
			<h3 class="text-center" id="section1-secondtext">
				with WISER INVESTMENTS
			</h3>
  		<h3 class="text-center" id="section1-thirdtext">
          Vestinit will change the way investors and lendors work with </br>
  high-quality investments that are seeking 'Series A' funding.
  		</h3>
		</div>
	</div>
  <div class="container">
  	<div class="row" id="">
  		<div class="col-md-12">
  			<div class="row">
  				<div class="col-md-4">
  					<h3 class="text-center section2-titletext">
  						High-Tech </br> Master Funding
  					</h3>
  					<p>
  						Vestinit employs the best-of- Vestinit employs the best-of- breed technology and uses industry standards for data security and privacy, supported by our own well-established software development company.
  					</p>
  				</div>
  				<div class="col-md-4">
  					<h3 class="text-center section2-titletext">
  						Wide Range of </br> Investment Options
  					</h3>
  					<p>
  						Vestinit supports several investment options for 'Series A' funding, such as equity, pool-of-funds, peer-to-peer lending, real estate investment, as well as other funding options such as crowd funding, crowd insurance, not-for-profit funding and disaster donations.
  					</p>
  				</div>
  				<div class="col-md-4">
  					<h3 class="text-center section2-titletext">
              Business </br> Visibility
  					</h3>
  					<p>
  						Vestinit has all the monitoring tools needed to track company KPIs and any variance in company data.
  					</p>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4">
  					<h3 class="text-center section2-titletext">
  						Sophisticated </br> Investment
  					</h3>
  					<p>
  						Vestinit is a platform that caters to regional and international sophisticated and institutional investors
  					</p>
  				</div>
  				<div class="col-md-4">
  					<h3 class="text-center section2-titletext">
  						Entrepreneur </br> Due Diligence
  					</h3>
  					<p>
  						Vestinit ensures that only high- quality investment opportunities that has the necessary documentation, support and infrastructure in place, performed due diligence and risk mitigation, and complied with all business rules and regulations will be presented to investors and lenders.
  					</p>
  				</div>
  				<div class="col-md-4">
  					<h3 class="text-center section2-titletext">
  						Strategic </br> Alignment
  					</h3>
  					<p>
  						Vestinit's business intelligence tools make it an attractive medium for strategically aligning the best entrepreneurs with the best investment partners.
  					</p>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="container-fluid screenFiller backgroundImage" id="div3">
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="row">
    				<div class="col-md-12">
    					<h3 class="text-center section3-title">
                What Makes <strong>Vestinit</strong> </br> Different?
    					</h3>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<h3 class="section3-body-title">
    						World-Class Funding Platform
    					</h3>
    					<p class="section3-body-paragraph">
                Vestinit is a world-class funding platform that uses a set of rigorous investor-ready scrutiny methods for
    entrepreneurs such as business planning and education, due diligence, quality assurance and legal pressure
    testing. This methodology is applied to ensure that the business is scalable, that management and support
    infrastructures are in place, and that the risks are managed. Only entrepreneurs and start-ups that pass the
    investor ready program will be approved and presented to the investors for ‘Series A’ funding.
    					</p>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<h3 class="section3-body-title">
    						Supports a wide range of investors
    					</h3>
    					<p class="section3-body-paragraph">
    Vestinit will be available to sophisticated and institutional investors. The platform will cater to both
    regional and international markets, with the option to white-label at the local level.
    					</p>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<h3 class="section3-body-title">
    						Funding for the better
    					</h3>
    					<p class="section3-body-paragraph">
                Vestinit believes in building a better world through investments that benefit society, that consider the
    environment and that support the well-being of our future generations.
    					</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
  <div class="container">
	   <div class="row" id="">
  		<div class="col-md-12">
  			<div class="row">
  				<div class="col-md-12">
  					<h1 class="section4-body-title1 ">
  						FOR INVESTORS
  					</h1>
  					<p>
  						Vestinit will provide a number of investment options to manage risk and monitor returns based on the client’s risk appetite. The expected returns will be in line with market’s expectations for each of the market categories.
  					</p>
            <p>
  						The ROI is dependent on several factors, over a given period. Expected ROI differ with each opportunity depending on the risk, the capital investment, the growth phase of the company that’s invested into, and the risk level associated with a particular fund’s investment profile.
  					</p>
            <p>
  						For peer-to-peer lenders, Vestinit provides them with a listing of high-quality investments and a diverse range of options to spread their money wisely and lessen risks for defaults.
  					</p>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-12">
  					<h1 class="section4-body-title2 ">
  						FOR ENTREPRENEURS
  					</h1>
  					<p>
              Vestinit enables potentially successful businesses and startups to scale up and prepare their business models for 'Series A' round of funding through Vestinit's screening methodology, allowing them to elevate into a higher level of professionalism. Vestinit helps entrepreneurs ensure that the necessary documentation, management and support infrastructure is in place, that the business is scalable and the risks are managed.
  					</p>
  				</div>
  			</div>
  		</div>
    </div>
	</div>
  <div class="container-fluid screenFiller backgroundImage" id="div4">
  <div class="container">
	   <div class="row" id="">
  		<div class="col-md-12">
  			<div class="row">
  				<div class="col-md-12">
  					<h3 class="text-center section5-title">
  						CONTACT US
  					</h3>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-12">
  					<div class="row">
  						<div class="col-md-6">
  							<h3>
  								PHILIPPINES
  							</h3>
                <address>
  								 <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
  							</address>
  							<h3>
  								THAILAND
  							</h3>
                <address>
  								 <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
  							</address>
  						</div>
  						<div class="col-md-6">
  							<form action="" method="POST">
  								<div class="form-group">

  									<label for="exampleInputEmail1">
  										Name
  									</label>
  									<input type="text" name="username" class="form-control" id="exampleInputEmail1" value="{{request.form.username}}"/>
  								</div>
  								<div class="form-group">

  									<label for="exampleInputPassword1">
  										Subject
  									</label>
  									<input type="text" name="subject" class="form-control" id="exampleInputPassword1" value="{{request.form.subject}}"/>
  								</div>
                  <div class="form-group">

  									<label for="exampleInputPassword1">
  										Email Address
  									</label>
  									<input type="text" name="email" class="form-control" id="exampleInputPassword1" value="{{request.form.email}}"/>
  								</div>
                  <div class="form-group">

  									<label for="exampleInputPassword1">
  										Message
  									</label>
  									<input type="text" name="message" class="form-control" id="exampleInputPassword1" value="{{request.form.message}}"/>
  								</div>
  								<input type="submit" class="btn btn-default" value="Send"/>
  							</form>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
{% include "footer.html" %}
